@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}

body {color: #333;}
img {display: block; max-width: 100%;}


main {width: 1200px; margin: auto;}
main h1 {text-align: center; border: 2px solid red; padding: 10px;}
#slide {border: 2px solid pink; width: 600px; margin: auto; overflow: hidden; margin-top: 30px;}
#slide div {display: flex; position: relative;}